body,
html {
  overflow-x: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.bodyr {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.more {
  padding: 10px 20px;
  font-size: 18px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: white;
}
.onl {
  color: red;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/bg.jpg") no-repeat center/cover;
  filter: blur(20px);
  z-index: -1;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 48px;
}

.text-content p {
  font-size: 18px;
  margin: 15px 0;
  color: #ccc;
}

.text-content a {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 10px 10px;
  font-size: 20px;
  text-decoration: none;
}
.face {
  color: black;
}
.you {
  color: red;
}
.insta {
  color: rgb(220, 15, 148);
}
.git {
  color: black;
}
.what {
  color: rgb(4, 167, 4);
}
.liin {
  color: blue;
}
.nme {
  background: linear-gradient(to right, #39e30a, #08c1de);
  background-clip: text;
  color: transparent;
}
.imgp {
  padding: 10px;
  display: flex;
  gap: 2rem;
  margin-top: -20px;
  overflow-x: auto;
  max-width: 89vw;
  /* scrollbar-width: 20px; */
}
.descri button {
  background-color: aqua;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.descri button:hover {
  color: white;
  background-color: gray;
  padding-top: 1px;
  font-weight: bold;
  box-shadow: 0 0 5px aqua;
}

.fpro {
  margin-top: 20px;
}
.reac {
  text-align: center;
}

.imgp img {
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .text-content {
    max-width: 100%;
  }
  .text-content h1 {
    font-size: 40px;
  }
  .profile-img img {
    display: none;
    width: 200px;
  }
}
.bckbtn {
  margin: auto;
  margin-top: 5px;
  padding: 6px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 255, 26), rgb(50, 172, 203));
  cursor: pointer;
}
.home-page {
  text-decoration: none;
}
.gith button {
  font-weight: bold;
  color: black;
  background-color: aqua;
  border-radius: 6px;
  padding: 4px;
}
.gith button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
.preh button:hover {
  color: black;
  background-color: white;
  border: 2px solid gray;
}
.preh button {
  font-weight: bold;
  color: aqua;
  background-color: black;
  border: 2px solid white;
  border-radius: 6px;
  padding: 4px;
}
.proj {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.container1 {
  width: 90vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.table-container {
  width: 100%;
  overflow: auto;
  max-height: 40vh;
  position: relative;
  border-radius: 5px;
  margin-top: -15px;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: aqua;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(to left, black, gray);
  color: white;
}
thead {
  position: sticky;
  font-family: "Times New Roman", Times, serif;
  top: 0;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
th {
  background: linear-gradient(to left, aqua, gray, black);
  color: white;
}

form {
  display: grid;
  width: 30rem;
  gap: 2rem;
  height: 17rem;
}
.form-data input {
  width: 29rem;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  background-color: gray;
  color: white;
}
@media (max-width: 768px) {
  th,
  td {
    font-size: 10px;
    padding: 5px;
  }
  form {
    width: 20rem;
  }

  .form-data input {
    width: 19rem;
  }
  .reac img {
    height: 7rem;
    width: 7rem;
  }
}
@media (max-width: 450px) {
  th,
  td {
    font-size: 8px;
    padding: 4px;
  }
}

.onl {
  text-align: center;
}
.logcon {
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px white;
  border-radius: 20px;
}
.subtn {
  padding: 5px;
  margin-left: 10px;
  margin-top: -10px;
  cursor: pointer;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 5px;
}
